<!DOCTYPE html>
<html lang="ja">
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Udemy Instructor Tool</title>
  <link href="./third_party/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="./third_party/fontawesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link href="./index.css" rel="stylesheet">
</header>

<body>
  <div id="container" class="fullscreen">
    <nav id="activitybar" class="activity-bar border-right full-height overflow-hidden" style="position: relative;">
      <ul class="activity-list text-center">
        <li class="activity-item bg-secondary">
          <a class="activity-link text-light disabled border-left" href="#">
            <i class="fas fa-users"></i>
          </a>
        </li>
        <li class="activity-item ">
          <a class="activity-link text-secondary" href="#">
            <i class="fas fa-comment-dots"></i>
          </a>
        </li>
      </ul>
      <ul class="activity-list text-center" style="position: absolute; bottom: 0; width: 100%;">
        <li class="activity-item">
          <a id="btnConfigOpen" class="activity-link text-secondary" href="#">
            <i class="fas fa-cog"></i>
          </a>
        </li>
      </ul>
    </nav>
    <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar collapse fullheight overflow-auto">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>受講生</span>
        </h6>
        <div class="input-group my-3">
          <input type="text" class="form-control" placeholder="student name" id="txtStudentsSearch">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btnStudentsSearch">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <ul class="nav flex-column" id="lstStudents">
          <!-- <li class="nav-item">
            <input type="button" class="btn btn-link nav-link w-100 text-left" value="sample"/>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-8 px-md-4 fullheight overflow-auto">
      <h2 class="pt-3 pb-2 mb-3" id="ttlStudentName">生徒名</h2>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr class="table-secondary">
              <th>date</th>
              <th>course_name</th>
              <th>type</th>
              <th>paid_price</th>
              <th>paid_currency</th>
            </tr>
          </thead>
          <tbody id="tblStudentDetailInfo">
            <!-- <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </main>
  </div>
  <div id="cover" class="cover fullscreen" style="display: none;"></div>
  <div id="dialogs" class="dialogs fullscreen" style="display: none;">
    <div id="settings" class="settings" style="display: none;">
      <div class="card">
        <div class="card-header">
          環境設定
          <span class="float-right">
            <a id="btnConfigClose" href="" class="text-muted">
              <i class="fas fa-times"></i>
            </a>
          </span>
        </div>
        <div class="card-body">
          <div class="font-weight-bold border-bottom mb-3">売上データ</div>
          <div class="input-group input-group-sm mb-3">
            <input id="txtSourceDirectory" type="text" class="form-control" placeholder="売上データ保存ディレクトリ" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button id="btnConfigPurchaseFolderOpen" class="btn btn-outline-secondary" type="button"><i
                  class="far fa-folder-open"></i></button>
            </div>
          </div>
          <input id="btnConfigPurchaseLoad" type="button" class="btn btn-secondary btn-sm" value="読み込み" />
        </div>
      </div>
    </div>
  </div>
  <script>
    window.$ = window.jQuery = require("./third_party/jquery/3.5.1/jquery.min.js");
  </script>
  <script src="./third_party/jquery/3.5.1/jquery.min.js"></script>
  <script src="./third_party/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>